.Create {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  width: 100vw;
}

.Create form {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Create textarea {
  margin-top: 4em;
}

.hubble-img {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.backward-btn, .forward-btn {
  background: transparent;
  border: none;
  height: 100%;
  width: 50%;
  position: absolute;
}

.backward-btn:focus, .forward-btn:focus {
  outline: 0;
}

.backward-btn {
  left: 0;
  text-align: left;
}

.forward-btn {
  right: 0;
  text-align: right;
}
